/gen/
/target/apidocs/**
/target/classes/**
/target/generated-sources/**
/target/generated-test-sources/**
/target/maven-archiver
/target/maven-status/maven-compiler-plugin/compile/default-compile/
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/
/target/surefire-reports
/target/test-classes/**
/target/unpacked-libs
/tests/.apt_generated/**
/tests/bin/**
tests/gen/**
/.apt_generated/**
/target/
/bin/
/libs/
/test-libs/
/target/R.txt
/target\generated-sources\annotations/
