/bin/**
/gen/**
/target/apidocs/**
/target/classes/**
/target/generated-sources/**
/target/generated-test-sources/**
/target/maven-archiver
/target/surefire-reports
/target/test-classes/**
/target/unpacked-libs
/tests/.apt_generated/**
/tests/bin/**
tests/gen/**
/.apt_generated/**
